.expContainer {
    display: flex;
    flex-direction: row;
    width: 150vh;
    margin: 30px;
    border-radius: 15px;
    opacity: 1.0;
}



.expContainer .company{
    flex-basis: 20%;
    background-color: rgb(178 , 226, 255);
    min-width: 150px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    margin-right: 10px;
    text-align: center;
}

.expContainer .company h2 {
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    padding: 5px;
    color: rgb(44, 41, 41);
    text-transform: uppercase;
    font-family: "Montserrat", "Quicksand", sans-serif; 
    letter-spacing: 0.2em;
    font-size: 100%;
}

.expContainer .description{
    border: 1px solid black;
    min-width: 300px;
    min-height: 100px;
    width: 100%;
    background-color: rgba(255,255,244, 1);
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
}


.expContainer .description h2 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    color: rgb(44, 41, 41);
    text-transform: uppercase;
    font-family: "Montserrat", "Quicksand", sans-serif; 
    letter-spacing: 0.2em;
    font-size: 100%;
}

.expContainer p {
    position: relative;
    color: rgb(44, 41, 41);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Montserrat", "Quicksand", sans-serif; 
    font-size: medium;
    text-align: justify;
}
