@import url("https://fonts.googleapis.com/css?family=Montserrat|Quicksand");


html {
  background-color: #5f45bb;
  background-image: linear-gradient(to bottom right, #180cac, #d054e4); color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100%;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.wallpaper {
	background-image: url("./assets/img/clouds.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.2;
  position: fixed;
  display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}


.App {
  text-align: center;
  position: relative;
}

.list{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin-bottom: 200px;
}

#title {
  font-size: 3.25rem;
	line-height: 1.125;
  margin-bottom: 4rem;
  font-family: "Montserrat", "Quicksand", sans-serif; 
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.exp{
  margin-top: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  margin-bottom: 200px;
  flex-direction: column;
}

.social {
  color: currentColor;
  text-decoration: none;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  color: currentColor;
	cursor: pointer;
  text-decoration: none;
  position: relative;
  margin: 10px;
}
